<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Add WWW prefix to Tania Silva" stopProcessing="true">
					<match url=".*" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^taniasilva\.com\.br$" />
					</conditions>
					<action type="Redirect" url="https://www.taniasilva.com.br/{R:0}" redirectType="Permanent" />
				</rule>
                <rule name="Add WWW prefix to Vitrine do Artesanato" stopProcessing="true">
					<match url=".*" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^vitrinedoartesanato\.com\.br$" />
					</conditions>
					<action type="Redirect" url="https://www.vitrinedoartesanato.com.br/{R:0}" redirectType="Permanent" />
				</rule>
				<rule name="Redirect to https - Vendas" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="^vendas.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
                </rule>
				<rule name="Redirect to https - Sankhya" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="^sankhya.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
                </rule>
				<rule name="Route to WMW Vendas" stopProcessing="true">
                    <match url="(.+)?" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^vendas.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Rewrite" url="http://179.111.209.238:8081/{R:1}" />
					<serverVariables> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" /> 
						<set name="HTTP_X_INOVACAO" value="remoto" />
                    </serverVariables> 
                </rule>
				<rule name="Route to Sankhya" stopProcessing="true">
                    <match url="(.+)?" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^sankhya.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Rewrite" url="http://erp.editorainovacao.com.br:8180/{R:1}" />
					<serverVariables> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" /> 
						<set name="HTTP_X_INOVACAO" value="remoto" />
                    </serverVariables> 
                </rule>
                <rule name="Redirect remoto to intranet" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^remoto.editorainovacao\.com\.br$" />
                    </conditions>
                    <action type="Redirect" url="http://intranet.editorainovacao.com.br/ti" redirectType="Permanent" />
                </rule>
                <rule name="Redirect burdanatv to conteudo.vitrine" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" negate="false" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^burdanatv\.com\.br$" />
                    </conditions>
                    <action type="Redirect" url="https://conteudo.vitrinedoartesanato.com.br/burda-assine-ja" appendQueryString="true" />
                </rule>
                <rule name="Redirect assineburda to conteudo.vitrine" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" matchType="Pattern" pattern="^assineburda\.com\.br$" ignoreCase="true" negate="false" />
                    </conditions>
                    <action type="Redirect" url="https://conteudo.vitrinedoartesanato.com.br/burda-assine-ja" appendQueryString="false" />
                </rule>
            </rules>
			<outboundRules>
				<rule name="RestoreAcceptEncoding" preCondition="NeedsRestoringAcceptEncoding">
					<match serverVariable="HTTP_ACCEPT_ENCODING" pattern="^(.*)" />
					<action type="Rewrite" value="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" />
				</rule>
				<rule name="Reverse Proxy to Sankhya" preCondition="ResponseIsHtml">
					<match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="http://erp.editorainovacao.com.br:8180/(.+)" />
					<action type="Rewrite" value="http://sankhya.editorainovacao.com.br/{R:1}" />
				</rule>					
				<rule name="Reverse Proxy to WMW Vendas" preCondition="ResponseIsHtml">
					<match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="http://179.111.209.238:8081/(.+)" />
					<action type="Rewrite" value="http://vendas.editorainovacao.com.br/{R:1}" />
				</rule>
				<rule name="Add intranet script" preCondition="ShouldInjectInlineJS" patternSyntax="ExactMatch">
					<match filterByTags="None" pattern="&lt;/body>" />
					<action type="Rewrite" value="&lt;script type=&quot;text/javascript&quot; src=&quot;https://intranet.editorainovacao.com.br/Static/inline.js&quot;>&lt;/script>&lt;/body>" />
				</rule>
				<preConditions> 
					<preCondition name="ResponseIsHtml">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
					<preCondition name="NeedsRestoringAcceptEncoding">
						<add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
					</preCondition>
					<preCondition name="ShouldInjectInlineJS">
						<add input="{HTTP_X_INOVACAO}" pattern=".+" />
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
				</preConditions>
			</outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
