<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="^marketing.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Redirect" url="https://marketing.editorainovacao.com.br{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
                </rule>
            </rules>				
        </rewrite>		
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>
