<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true" applyToWebDAV="true">
				<clear />
			</fileExtensions>
			<verbs allowUnlisted="true" applyToWebDAV="true" />
			<hiddenSegments applyToWebDAV="true">
				<clear />
			</hiddenSegments>
		</requestFiltering>
		</security>
        <rewrite>
            <rules>			
				<rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="^intranet.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
                </rule>
				<rule name="Route to Visual SVN" stopProcessing="true">
                    <match url="(.+)?" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^svn.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:8444/{R:1}" />
					<serverVariables> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" /> 
                    </serverVariables> 
                </rule>
				<rule name="Route to WMW Vendas" stopProcessing="true">
                    <match url="(.+)?" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^vendas.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Rewrite" url="http://192.168.1.235:8081/{R:1}" />
					<serverVariables> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" /> 
                    </serverVariables> 
                </rule>
				<rule name="Route to Total IP Faye" stopProcessing="true">
                    <match url="faye.js" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^totalip.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Rewrite" url="http://192.168.1.194:9292/faye.js" />
					<serverVariables> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" /> 
                    </serverVariables> 
                </rule>
				<rule name="Route to Total IP" stopProcessing="true">
                    <match url="(.+)?" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^totalip.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Rewrite" url="http://192.168.1.194/{R:1}" />
					<serverVariables> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" /> 
                    </serverVariables> 
                </rule>				
				<rule name="Redirect local to intranet" stopProcessing="true">
                    <match url="(.+)?" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^local.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Redirect" url="https://intranet.editorainovacao.com.br" />
                </rule>
            </rules>
			<outboundRules>
				<rule name="RestoreAcceptEncoding" preCondition="NeedsRestoringAcceptEncoding">
					<match serverVariable="HTTP_ACCEPT_ENCODING" pattern="^(.*)" />
					<action type="Rewrite" value="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" />
				</rule>
				<rule name="Reverse Proxy to Sankhya" preCondition="ResponseIsHtml">
					<match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="http://127.0.0.1:8180/(.+)" />
					<action type="Rewrite" value="http://sankhya.editorainovacao.com.br/{R:1}" />
				</rule>				
				<rule name="Reverse Proxy to Visual SVN" preCondition="ResponseIsHtml">
					<match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="http://127.0.0.1:8444/(.+)" />
					<action type="Rewrite" value="http://svn.editorainovacao.com.br/{R:1}" />
				</rule>				
				<rule name="Reverse Proxy to WMW Vendas" preCondition="ResponseIsHtml">
					<match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="http://192.168.1.235:8081/(.+)" />
					<action type="Rewrite" value="http://vendas.editorainovacao.com.br/{R:1}" />
				</rule>
				<rule name="Reverse Proxy to Total IP" preCondition="ResponseIsHtml">
					<match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="http://192.168.1.194/(.+)" />
					<action type="Rewrite" value="http://totalip.editorainovacao.com.br/{R:1}" />
				</rule>
				<rule name="Reverse Proxy to Total IP Faye" preCondition="ResponseIsHtml">
					<match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="http://192.168.1.194:9292/(.+)" />
					<action type="Rewrite" value="http://totalip.editorainovacao.com.br/{R:1}" />
				</rule>
				<rule name="Add intranet script" preCondition="ResponseIsHtml" patternSyntax="ExactMatch">
					<match filterByTags="None" pattern="&lt;/body>" />
					<action type="Rewrite" value="&lt;script type=&quot;text/javascript&quot; src=&quot;https://intranet.editorainovacao.com.br/Static/inline.js&quot;>&lt;/script>&lt;/body>" />
				</rule>
				<preConditions> 
					<preCondition name="ResponseIsHtml">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
					<preCondition name="NeedsRestoringAcceptEncoding">
						<add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
					</preCondition>
				</preConditions>
			</outboundRules>
        </rewrite>		
    </system.webServer>
</configuration>
