<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="^ti.editorainovacao.com.br$" />
                    </conditions>
                    <action type="Redirect" url="https://ti.editorainovacao.com.br{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
                </rule>
                <rule name="Documentação da API do Canal do Artesanato" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="Docs/Canal do Artesanato - API.pdf" />
                    <action type="Redirect" url="/Docs/CanalDoArtesanato/api.pdf" />
                </rule>
				<rule name="TopLevelDir" stopProcessing="true">
					<match url="^(Tools|Docs|Playground)/?$" />
					<action type="Redirect" url="https://ti.editorainovacao.com.br" redirectType="Permanent" appendQueryString="false" />
				</rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
